<form id="circle-form" class="custom">
  <fieldset>
    <legend>Create a prayer circle:</legend>
    <label class='hide' for='name'>Name</label>
    <input id='circle-name' type='text' name="name" placeholder='Name of Prayer Circle' value='{{circle.name}}' />
  </fieldset>

  <fieldset>
    <legend>Share with:</legend>
    <input id='friend-filter' type='text' placeholder='Search for friends to add...' />
    <div id='friend-list' class='hide'></div>
    <div id='follower-list'></div>
  </fieldset>


  <div class="right">
    <button id="save-circle" class="button">Save Circle</button>
  </div>
</form>



