
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#page {
  padding-top:60px;
}

#page {
  top:0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  background-color: #fff;
  //overflow: auto;
}

#drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: auto;
  height: auto;
}

#main {
//  overflow: auto;
}

#sidepanel {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;

  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  padding: 1.25em;
  background: #f2f2f2;
  h1, h2, h3, h4, h5, h6, p {
    color: #333333; 
  }
  & > :first-child {
    margin-top: 0; 
  }
  & > :last-child {
    margin-bottom: 0; 
  }
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin-bottom: 0.625em; 
  }
  h1.subheader, h2.subheader, h3.subheader, h4.subheader, h5.subheader, h6.subheader {
    line-height: 1.4; 
  }
}
