/* Navigation bar related */

.title {
  font-size: 1.25em;
  font-weight: bold;
  color: #ffffff;  
}     


.nav-bar {
  line-height: 45px;
  margin-bottom: 0px;
} 

.nav-bar .button {
  margin: 0px;
}



